//宏定义
@mixin size($width,$background){
    width: $width;
    background: $background;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
body{
    overflow-x: hidden;
}
/* IE不支持 */
body,html{
    scroll-behavior: smooth;
}
/* 头部 */
header{
    position: relative;
    overflow: hidden;
    @include size(100%,white);
    height: 54px;
    color: #575859;
    box-shadow: 0px 8px 5px -5px darkgrey;
    #tab{
        overflow: hidden;
        width: 600px;
        background: grey;
        position: absolute;
    }
    .sort{
        display: block;
        width: 100px;
        height: 100%;
        margin-left: -10px;
        background: #edeff1;
        transform: skew(10deg);
        text-indent: 15px;
        line-height: 52px;
        color: #575859;
        font-style: normal;
        float: left;
        span{
            font-size: 12px;
            display: inline-block;
            transform: skew(-10deg);
            font-weight: 700;
        }
    }
    .sort:hover{
        background: #0082c3;
        color: white;
    }
    img{
        height: 30px;
        margin-left: 20px;
        margin-top: 12px;
        float: left;
    }
    input:nth-of-type(1){
        outline: none;
        border: none;
        background: #edeff1;
        height: 35px;
        padding: 0 6px 0 8px;
        width: 380px;
        margin-top: 10px;
        float: left;
        margin-left: 20px;
        border-radius: 0 2px 2px 0;
    }
    input:nth-of-type(1)::-webkit-input-placeholder{
        color: gainsboro;
    }
    #btn{
        cursor: pointer;
        outline: none;
        @include size(54px,white);
        height: 35px;
        transform: skew(10deg);
        margin-top: 10px;
        margin-left: -5px;
        border: 1px solid #edeff1;
        border-radius: 0 2px 2px 0;
        span{
            display: inline-block;
            transform: skew(-10deg);
            color: #0082c3;
            font-size: 20px;
        }
    }
    .list{
        float: right;
        margin-left: 10px;
        margin-right: -10px;
        a{
            display: block;
            height: 54px;
            width: 85px;
            transform: skew(10deg);
            float: left;
            border-left: 1px solid #edeff1;
            text-align: center;
            position: relative;
            padding-top: 15px;
            span{
                display: inline-block;
                transform: skew(-10deg);
                font-size: 13px;
                color: #575859;
            }
            b{
                transform: skew(-10deg);
                display: inline-block;
                width: 17px;
                height: 17px;
                background: #0082c3;
                position: absolute;
                right: 10px;
                top: 3px;
                border-radius: 50%;
                font-size: 5px;
                color: white;
                line-height: 17px;
            }
        }
        a:nth-child(4){
            width: 120px;
            background: #ffea28;
            color: #323233;
        }
        a:hover{
            background: #edeff1;
        }
        a:nth-child(4):hover{
            background: #fdd935;
        }
    }
}
/* 左侧选项卡 */
a,li {
    list-style:none;
}
.cf:before,.cf:after,.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.cf:after,.clearfix:after {
    clear:both;
}
.cf,.clearfix {
    clear:both;
    *zoom:1;
}
#tab{
    position: absolute;
    z-index: 9999999999;
    transition: all 1s;
    transform: translateX(-605px);
}
/*banner上面浮层*/
.cat_wrap {
    box-shadow: inset 0px 6px 5px -5px grey;
    padding-top: 1px;
    width:135px;
    position:absolute;
    z-index:999;
    padding-bottom: 100px;
    background: #f9f9f9;

}
.cat_wrap .cat_header {
    min-height:450px;
}
.cat_wrap .cat_list div {
    background:#fff;
    border-left:3px solid transparent;
}
.cat_wrap .cat_list div li {
    background: #f9f9f9;
    float:left;
    color:#323232;
    font-size:14px;
    width: 110px;
    height: 60px;
    line-height: 60px;
    color: #232323;
    font-size: 15px;
    padding-left: 20px;
    border-right: 1px solid #e7e7e7;
}
.cat_wrap .cat_list {
    cursor:pointer;
}
.cat_wrap .cat_list div .active {
    z-index:999;
    border-right:none;
    background: white;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    color: #0082c3;
    font-weight: 700;
}
/*banner浮层滑动显示弹框*/
.cat_subcont .cat_sublist {
    height: 582px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0px 6px 5px -5px darkgrey;
    position:absolute;
    z-index:998;
    top:0;
    left:135px;
    padding-top:5px;
    width:470px;
    background:#fff;
}
.for1{
    box-shadow: inset 0px 6px 5px -5px darkgrey;
    padding-top: 1px;
}
.cat_subcont .cat_sublist .fore1 {
    width:470px;
}
.cat_subcont .cat_sublist .fore1 .fore_list {
    padding: 0 30px 0 20px;
    .list{
        overflow: hidden;
        padding-bottom: 30px;
        border-bottom: 1px solid #e7e7e7;
        h3{
            font-size: 14px;
            color: #232323;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        a{
            float: left;
            width: 200px;
            padding: 20px 0;
            background: #f6f6f6;
            color: #575859;
            margin-right: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}
.detail{
    cursor: pointer;
    float: left;
    width: 32%;
    text-align: center;
    margin-bottom: 20px;
    img{
        width: 90px;
        margin: 0 30px;
    }
    a{
        font-size: 14px;
        color: #5f5f5f;
    }
}
/* 服务 */
#server{
    margin-top: 80px;
    @include size(100%,#0082c3);
    height: 75px;
    ul{
        width: 1180px;
        margin: 0 auto;
        li{
            width: 224px;
            height: 100%;
            float: left;
            font-weight: 700;
            line-height: 75px;
            a{
                color: white;
                vertical-align: middle;
            }
            span{
                font-weight: 700;
                color: white;
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }
}

/* footer */
footer{
    @include size(100%,#edeff1);
    #footerTop{
        width: 1180px;
        margin: 0 auto;
        overflow: hidden;
        border-bottom: 1px solid #e7e6e6;
        padding-bottom: 50px;
        .small-ul{
            float: left;
            width: 18%;
            margin-left: 30px;
            .small-title{
                color: #0082c3;
                font-weight: 700;
                font-size: 14px;
                margin-top: 40px;
                margin-bottom: 5px;
            }
            li a{
                color: #575859;
                font-size: 12px;
            }
        }
        .code{
            float: left;
            margin-top: 40px;
            .attention{
                font-size: 14px;
                color: #393939;
                font-weight: 700;
                text-indent: 12px;
                padding-top: 10px;
            }
            img{
                width: 100px;
                display: block;
            }
        }
    }
    #footerBottom{
        width: 1180px;
        margin: 0 auto;
        margin-top: 90px;
        padding-bottom: 16px;
        #footerRight{
            text-align: right;
            margin-bottom: 50px;
            p{
                font-size: 12px;
                margin-bottom: 10px;
                span{
                    color: #575859;
                }
            }
            .police1{
                width: 41px;
            }
            .police2{
                height: 41px;
            }
        }
    }
    .footerLeft{
        font-size: 12px;
    }
}