@import 'public';

/* 轮播图 */
.swiper-contione {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 590px;
}
.swiper {
    width: 9999999px;
    height: 590px;
    transition: all 1s ease;
}
.swiper-item {
    height: 590px;
    float: left;
    position: relative;
}
.swiper-point {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.point {
    width: 20px;
    height: 12px;
    background: white;
    margin-right: 5px;
    float: left;
    transform: skew(15deg);
}
.point.active {
    background: #0082c3;
}

.swiper-left {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.swiper-right {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.swiper-left img,
.swiper-right img {
    cursor: pointer;
}

.swiper-contione:hover .swiper-left {
    left: 0;
}

.swiper-contione:hover .swiper-right {
    right: 0;
}
/* 运动 */
section{
    text-align: center;
    padding-bottom: 50px;
    #sport{
        overflow: hidden;
        width: 1200px;
        margin: 0 auto;
        margin-bottom: 20px;
        height: 504px;
        .de-sport{
            margin-bottom: 20px;
            position: relative;
            @include size(200px,#ffffff);
            height: 252px;
            float: left;
            color: #5a5a5a;
            img{
                width: 120px;
            }
            .mark{
                transition: all .5s;
                width: 100%;
                height: 100%;
                background: #edeff1;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                h2{
                    margin-top: 25px;
                }
                .list{
                    margin-top: 30px;
                    li{
                        width: 100%;
                        height: 28px;
                        color: #5a5a5a;
                        cursor: pointer;
                        line-height: 28px;
                        a{
                            color: #5a5a5a;
                        }
                    }
                    li:hover{   
                        background:lightgray;
                    }
                }
            }
            
        }
        .de-sport:hover .mark{
            opacity: 1;
        }
    }
    .more-sport{
        @include size(400px,#0082c3);
        display: block;
        height: 33px;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding: 6px;
        font-weight: 700;
        line-height: 33px;
    }
}
.big-title{
    margin: 85px 0 40px 0;
    font-weight: 700;
    font-size: 40px;
}
/* 额外信息 */
#benefitFloor{
    @include size(100%, #f2f2f2);
    height: 130px;
    padding: 20px 0;
    text-align: center;
    img{
        margin-right: 20px;
    }
}
/* 侬说搭配 */
#collocation{
    width: 100%;
    text-align: center;
    .big-title{
        margin-top: 80px;
    }
    .col-box{
        width: 1180px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 40px;
        a{
            float: left;
        }
        .col-detail,.col-detail-2{
            transition: all .5s;
            position: relative;
            @include size(391px,white);
            height: 227px;
            border: 1px solid #edeff1;
            float: left;
            margin-left: 15px;
            cursor: pointer;
            padding: 30px 0;
                img{
                    width: 150px;
                }
                h6{
                    font-size: 12px;
                    color: #232323;
                    padding-top: 10px;
                }
                p{
                    margin: 0 120px;
                    font-size: 12px;
                    color: #232323;
                }
                span{
                    position: absolute;
                    top: 20px;
                    right: 18px;
                    width: 80px;
                    height: 30px;
                    background: #ffe928;
                    line-height: 30px;
                    font-weight: 700;
                    color: #232323;
                    b{
                        font-size: 12px;
                    }
                }
        }
        .col-detail:hover{
            border: 1px solid #0082c3;
        }
        .col-detail:nth-of-type(n+2){
            margin-bottom: 15px;
        }
        .col-left{
            width: 819px;
            float: left;
            .col-detail-2{
                width: 258px;
                height: 227px;
                float: left;
                margin-left: 0;
                margin-right: 10px;
                img{
                    width: 150px;
                }
                p{
                    margin: 0 60px;
                }
            }
            .col-detail-2:hover{
                border: 1px solid #0082c3;
            }
            .col-detail-2:nth-of-type(-n+3){
                margin-bottom: 15px;
            }
            .col-detail-3{
                margin-left: 10px;
                margin-right: 0;
            }
        }
    }
}

/* 侬粉热搜 */
#hotSearch{
    text-align: center;
    ul{
        width: 1180px;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 10px;
        li{
            width: 184px;
            height: 44px;
            border: 1px solid #cccccc;
            float: left;
            margin-right: 10px;
            text-align: center;
            transition: all .5s;
            position: relative;
            cursor: pointer;
            .pre{
                color:  #e20c18;
            }
            a{
                display: block;
                font-weight: 700;
                color: #393939;
                margin-top: 10px;
            }
            .tip{
                position: absolute;
                right: -5px;
                top: -5px;
                width: 26px;
                height: 16px;
                background: #e20c18;
                font-size: 10px;
                color: white;
                line-height: 16px;
                .tri{
                    position: absolute;
                    top: 16px;
                    left: 6px;
                    width: 0;
                    height: 0;
                    border-left: 3px solid #e20c18;
                    border-top: 3px solid #e20c18;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                }
            }
        }
        li:hover{
            background: #edeff1;
        }
    }
}

/* 猜你喜欢 */
#guessLike{
    overflow: hidden;
    text-align: center;
    #likeBox{
        width: 1180px;
        margin: 0 auto;
        overflow: hidden;
        .like-detail{
            transition: all .5s;
            position: relative;
            @include size(283px,white);
            border: 1px solid #edeff1;
            float: left;
            margin-right: 10px;
            cursor: pointer;
            padding: 30px 0;
                img{
                    width: 150px;
                }
                p{
                    margin: 0 80px;
                    font-size: 12px;
                    color: #232323;
                }
                span{
                    position: absolute;
                    top: 20px;
                    right: 18px;
                    width: 80px;
                    height: 30px;
                    background: #ffe928;
                    line-height: 30px;
                    font-weight: 700;
                    b{
                        font-size: 12px;
                    }
                }
        }
        .like-detail:hover{
            border: 1px solid #0082c3;
        }
        .like-detail:nth-child(4),.like-detail:nth-child(8){
            margin-right: 0;
        }
        .like-detail:nth-child(n+5){
            margin-bottom: 50px;
        }
        .more{
            @include size(260px,#0082c3);
            clear: both;
            display: block;
            padding: 10px 0;
            color: white;
            margin: 50px auto 0;
            height: 30px;
            line-height: 30px;
            font-weight: 700;
            span{
                font-size: 20px;
                float: right;
                padding-right: 15px;
            }
        }
        .img-box{
            margin-top: 65px;
            width: 1180px;
            img{
                margin-right: 5px;
                margin-bottom: 5px;
                float: left;
            }
            img:nth-child(2),img:nth-child(4){
                margin-right: 0;
            }
        }
    }
}

/* 服务 */
#server{
    margin-top: 80px;
    @include size(100%,#0082c3);
    height: 75px;
    ul{
        width: 1180px;
        margin: 0 auto;
        li{
            width: 224px;
            height: 100%;
            float: left;
            font-weight: 700;
            line-height: 75px;
            a{
                color: white;
                vertical-align: middle;
            }
            span{
                font-weight: 700;
                color: white;
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }
}

/* footer */
footer{
    @include size(100%,#edeff1);
    #footerTop{
        width: 1180px;
        margin: 0 auto;
        overflow: hidden;
        border-bottom: 1px solid #e7e6e6;
        padding-bottom: 50px;
        .small-ul{
            float: left;
            width: 18%;
            margin-left: 30px;
            .small-title{
                color: #0082c3;
                font-weight: 700;
                font-size: 14px;
                margin-top: 40px;
                margin-bottom: 5px;
            }
            li a{
                color: #575859;
                font-size: 12px;
            }
        }
        .code{
            float: left;
            margin-top: 40px;
            .attention{
                font-size: 14px;
                color: #393939;
                font-weight: 700;
                text-indent: 12px;
                padding-top: 10px;
            }
            img{
                width: 100px;
                display: block;
            }
        }
    }
    #footerBottom{
        width: 1180px;
        margin: 0 auto;
        margin-top: 90px;
        padding-bottom: 16px;
        #footerRight{
            text-align: right;
            margin-bottom: 50px;
            p{
                font-size: 12px;
                margin-bottom: 10px;
                span{
                    color: #575859;
                }
            }
            .police1{
                width: 41px;
            }
            .police2{
                height: 41px;
            }
        }
    }
    .footerLeft{
        font-size: 12px;
    }
}

